Makefile
Makefile.in
.deps
.dirstamp
*.swp
/configure
/config.status
/config.log
/config.cache
/buildconf.h
/buildconf.h.in
/stamp-h?
/autom4te.cache
/aclocal.m4
*.o
src/yagips
src/proto/*.pb.cc
src/proto/*.pb.h
