Makefile
Makefile.in
.deps
.dirstamp
*.swp
/configure
/config.status
/config.log
/config.cache
/config.h
/config.h.in
/stamp-h?
/autom4te.cache
/aclocal.m4
/.version
*.o
src/yagips
gnulib/libgnu.a
src/proto/*.pb.cc
src/proto/*.pb.h

# Gnulib generated header files
gnulib/alloca.h
gnulib/arpa
gnulib/fcntl.h
gnulib/inttypes.h
gnulib/limits.h
gnulib/math.h
gnulib/pthread.h
gnulib/sched.h
gnulib/signal.h
gnulib/stdckdint.h
gnulib/stddef.h
gnulib/stdio.h
gnulib/stdlib.h
gnulib/string.h
gnulib/strings.h
gnulib/sys
gnulib/time.h
gnulib/unistd.h
gnulib/wchar.h
